.carousel-item{
     height: 80vh;
     position: absolute;
     
}
.carousel-item img{
     filter: opacity(50%);
     background-color: solid black ;
}

.carousel-item::before {
     content: "";
     display: block;
     position: absolute;
     top: 0%;
     left: 0%;
     bottom: 0%;
     right: 0%;
     background: #121212;
     opacity: 0.5;
   }
